// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $theme_fg_color: "@theme_fg_color";
// $theme_bg_color: "@theme_bg_color";
//

@use 'sass:math';

@function to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

$wp-buttons-size: to-rem(35px);

window.Bar {
  background: transparent;

  .workspaces button {
    all: unset;
    padding: unset;
    border: unset;

    min-height: $wp-buttons-size;
    min-width: $wp-buttons-size;
  }
}
