$color-font-primary: #a1bdce;
$color-font-secondary: #879fad;
$color-font-inactive: #6a7c8c;

$font-family: "JetBrainsMono Nerd Font Mono";
$font-size: 16px;

* {
  all: unset;
}

window {
  font-family: $font-family;
  font-size: $font-size;
}

//------------------------------------------------------------------------------

.genicon {
  background-repeat: no-repeat;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
}

.barBlur {
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: red; */
}

.sidebar {
  background-color: rgba(255, 255, 255, 0);
  .segment-top {
    padding-top: 0.5rem;
  }
}

scale trough {
  all: unset;
  background-color: #22242b;
  min-height: 100px;
  min-width: 20px;
  margin: 0px 10px 0px 0px;
}

//------------------------------------------------------------------------------
.workspaces {
  color: $color-font-secondary;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;

  .active {
    color: $color-font-primary;
  }
  .occupied {
  }
  .inactive {
    opacity: 0.2;
  }
  .empty {
  }

  .inactive,
  .empty {
    font-size: 0.8em;
    color: $color-font-inactive;
  }

  .workspace:hover {
    transition: 0.2s;
    color: yellow;
  }
}

//------------------------------------------------------------------------------

.hour,
.minute,
.date {
  color: $color-font-primary;
}
.datetime {
}

//------------------------------------------------------------------------------

.volbar trough highlight {
  background-image: linear-gradient(
    to right,
    #afcee0 30%,
    #a1bdce 50%,
    #77a5bf 100% * 50
  );
  /* border-radius: 10px; */
}
.volume_icon {
  font-size: 1.3em;
  color: $color-font-primary;
  margin: 0px 10px 0px 10px;
}

//------------------------------------------------------------------------------

.battery {
  .battery_icon {
    font-size: 1.7em;
    color: $color-font-primary;
    margin: 0px 17px -5px 10px;
  }
}
