* {
  all: unset;
}

window {
  font-family: "JetBrainsMono Nerd Font Mono";
  background-color: #fefefe;
}

//------------------------------------------------------------------------------

.genicon {
  background-repeat: no-repeat;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
}

.sidebar {
  .segment-top {
    padding-top: 0.5rem;
  }
}

//------------------------------------------------------------------------------
.workspaces {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #756565;
  //margin-top: 0px;

  .active {
  }
  .occupied {
  }

  .inactive {
    opacity: 0.2;
  }
  .empty {
  }

  .inactive,
  .empty {
    font-size: 20px;
    color: #828282;
    &:hover {
      font-size: unset;
      transition: 0.2s;
    }
  }
}

//------------------------------------------------------------------------------

.hour,
.minute,
.date {
  color: #4f4f4f;
}
.date {
}

//------------------------------------------------------------------------------

.separator {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #434c5e;
  opacity: 0.2;
}
