* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: sans-serif;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  color: #e6e6e6;
}

#pulseaudio,
#clock,
#custom-power {
  padding: 0 8px;
  margin: 0;
  background: rgba(0, 0, 0, 0.0);
}
