// https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md

$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

// Pane Colors
$background_pane: $base;
$secondary_panes: ($crust, $mantle);
$surface_elements: ($surface0, $surface1, $surface2);

// Overlay Colors
$overlays: ($overlay0, $overlay1, $overlay2);

// Typography Colors
$body_copy: $text;
$main_headline: $text;
$sub_headlines_labels: ($subtext0, $subtext1);
$subtle: $overlay1;
$links_urls: $blue;
$success: $green;
$warnings: $yellow;
$errors: $red;
$tags_pills: $blue;
$selection_background: opacify($surface2, 0.4); // 40% opacity
$cursor: $rosewater;

// Terminal Colors
$cursor_text: ($base, $crust, $crust, $crust);
$active_border: ($lavender, $lavender, $lavender, $lavender);
$inactive_border: ($overlay0, $overlay0, $overlay0, $overlay0);
$bell_border: ($yellow, $yellow, $yellow, $yellow);

$regular_colors: (
  ($subtext1, $surface1, $surface1, $surface1),
  ($red, $red, $red, $red),
  ($green, $green, $green, $green),
  ($yellow, $yellow, $yellow, $yellow),
  ($blue, $blue, $blue, $blue),
  ($pink, $pink, $pink, $pink),
  ($teal, $teal, $teal, $teal),
  ($surface2, $subtext1, $subtext1, $subtext1)
);

$bold_colors: (
  ($subtext0, $surface2, $surface2, $surface2),
  ($red, $red, $red, $red),
  ($green, $green, $green, $green),
  ($yellow, $yellow, $yellow, $yellow),
  ($blue, $blue, $blue, $blue),
  ($pink, $pink, $pink, $pink),
  ($teal, $teal, $teal, $teal),
  ($surface1, $subtext0, $subtext0, $subtext0)
);

$extended_colors: (
  ($peach, $peach, $peach, $peach),
  ($rosewater, $rosewater, $rosewater, $rosewater)
);

$syntax_colors: (
  ($lavender, $lavender, $lavender, $lavender),
  ($base, $crust, $crust, $crust),
  ($mauve, $mauve, $mauve, $mauve),
  ($base, $crust, $crust, $crust),
  ($sapphire, $sapphire, $sapphire, $sapphire),
  ($base, $crust, $crust, $crust)
);
