@import "./catppuccin_latte.scss";
@import "./common.scss";

* {
  all: unset;
  // font-family: "monaspace";
  font-family: 'spleen32x64';
  // https://github.com/slavfox/cozette
  // font-family: "cozettehidpi";
  // font-family: "cozette";
  font-size: 19px;
}

@import "./module.topbar.scss";
@import "./module.battery.scss";
@import "./module.tray.scss";
@import "./module.volume.scss";
@import "./module.workspaces.scss";
