@import './catppuccin_latte.scss';

//*:not(.systray) {
* {
  all: unset;
  // font-family: "CaskaydiaCove Nerd Font";
  // font-family: "Monaspace";
  // background: green;
}

@import "./catppuccin_latte.scss";

window.bar {
  // background-color: red;
  background-color: $background_pane;
  color: $text;
}

button {
  background-color: transparent;

  &:hover,
  &:active,
  &.occupied {
    background-color: darken($background_pane, 10%);
  }

  &.active {
    background-color: darken($background_pane, 40%);
  }
}

.battery {
  color: $text;
  background-color: $background_pane;
  border: 1px solid $overlay0;
}
