/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #EFF1F5;
    background-alt: #9CA0B0;
    foreground:     #4C4F69;
    selected:       #1E66F5;
    active:         #ABE9B3;
    urgent:         #F28FAD;
}
